.todoitem {
    display: flex;
    flex-grow: 1;
}

.todoitem-0 {
    flex-grow: 1;
    display: flex;
}

.todoitem-default-3 {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    background: #FFFFFF;
    flex-grow: 1;
}

.todoitem-0-0-0 {
    display: flex;
    padding-left: 12px;
    padding-right: 20px;
}

.todoitem-rectangle_2 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(216, 216, 216, 0);
    border: 1px solid rgb(237, 237, 237);
}

.todoitem-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding-top: 6px;
    padding-bottom: 7px;
}

.todoitem-0-0-0-1-0 {
    display: flex;
}

.todoitem-text_5 {
    width: 355px;
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(77, 77, 77);
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.todoitem-0-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.todoitem-0-0-0-2-0 {
    display: flex;
}

.todoitem-text-3 {
    flex-shrink: 0;
    cursor: default;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(204, 154, 154);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
    padding-right: 0.78125px;
}

.todoitem-0-0-1 {
    display: flex;
    margin-top: 8px;
}

.todoitem-line_2 {
    height: 1px;
    flex-grow: 1;
    flex-basis: 0px;
    background: #D8D8D8;
}

.todoitem-1 {
    flex-grow: 1;
    display: flex;
}

.todoitem-completed-7 {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    background: #FFFFFF;
    flex-grow: 1;
}

.todoitem-1-0-0 {
    display: flex;
    padding-right: 20px;
}

.todoitem-image-1 {
    width: 55px;
    height: 52px;
    flex-shrink: 0;
    background-image: url('https://ucarecdn.com/0ed654ae-0d8b-4f1d-a6b2-8948c3d2c2cc/');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.todoitem-1-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 12px;
    padding-bottom: 13px;
}

.todoitem-1-0-0-1-0 {
    display: flex;
}

.todoitem-text_5-8 {
    width: 355px;
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(217, 217, 217);
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    text-decoration: line-through;
    text-align: left;
    word-wrap: break-word;
}

.todoitem-1-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.todoitem-1-0-0-2-0 {
    display: flex;
}

.todoitem-text-1 {
    flex-shrink: 0;
    cursor: default;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(204, 154, 154);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
    padding-right: 0.78125px;
}

.todoitem-1-0-1 {
    display: flex;
    margin-top: 2px;
}

.todoitem-line_2-1 {
    height: 1px;
    flex-grow: 1;
    flex-basis: 0px;
    background: #D8D8D8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}